<div class="panel search-padding">
  <table class="table-padding">
    <%= search_form_for @search do |f| %>
      <form class="form-inline">
        <td>
          <%= f.text_field :name_cont, class: "form-control", placeholder: "name" %>
        </td>
        <td>
          <%= f.submit "search", class: "btn btn-info" %>
        </td>
      </form>  
    <% end %>
  </table>
</div>
<div class="row blog-post">
  <% if @users.any?%>
    <% @users.each do |user| %>
      <div class="col-lg-12">
        <div class="thumbnail">
          <div class="box-top">
            <% if user.avatar.present? %>
              <%= link_to image_tag(user.avatar.url, size: Settings.member.size), user %>
            <% else %>
              <%= link_to image_tag(Settings.member.url, size: Settings.member.size), user %>
            <% end %>
          </div>
          <div class="caption">
            <div class="item-info">
              <a class="name-title break-word">
                <%= user.name %>
              </a>
              <p class="detail break-word">
                <%= user.introduce %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= paginate @users %>
