<% provide :title, @title %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.avatar.present? %>
        <%= link_to image_tag(@user.avatar.url, size: "100x100"), user_path %>
      <% else %>
        <%= link_to image_tag(Settings.member.url,
          size: Settings.member.size), user_path %>
      <% end %>
      <h1><%= @user.name %></h1>
      <span><%= link_to t("views.view_my_profile"), @user %></span>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @users.any? %>
      <div class="user_avatars">
        <% @users.each do |user| %>
          <% if user.avatar.present? %>
            <%= link_to image_tag(user.avatar.url, size: "100x100"), user %>
          <% else %>
            <%= link_to image_tag(Settings.member.url,
              size: Settings.member.size), user_path %>
          <% end %>
          <%=link_to user.name, user %>
          <hr>
        <% end %>
      </div>
    <% end %>              
  </div>
</div>
