<% @user ||= current_user %>
<div class="stats">
  <%= link_to relationships_user_path(@user, relationship: t("following").downcase) do %>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t ("following") %>
  <% end %>
  <%= link_to relationships_user_path(@user, relationship: t("unfollowing").downcase )do %>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t ("unfollowing") %>
  <% end %>
</div>
