<div class="row blog-post">
      <%= image_tag @post.picture.url if @post.picture? %>
	<div class="caption">
	  <div class="item-info">
	    <a class="name-title break-word"><%= link_to @post.title, @post %></a>
	    <br/>
	      <% if @post.user.avatar.present? %>
		<%= link_to image_tag(@post.user.avatar.url, size: Settings.member.size1),
		  @post.user %>
	      <% else %>
	        <%= link_to image_tag(Settings.member.url,
	          size: Settings.member.size1), @post.user %>
	      <% end %>
	      <a><%= link_to @post.user.name, @post.user %></a>
              <div class="mini-date">
		<span>@posted on</span>
		<span class="date">
		  <%= @post.created_at %>
		</span>
              </div>
	    <p class="detail break-word">
	      <%= @post.content %>
	    </p>
  	  </div>

	  <% if user_signed_in? %>
	    <% if can? :create, Comment %>
	      <h4><%= t "Create_comment" %></h4>  
	        <%= form_for [@post, @comment], remote: true do |f| %>
	          <%= f.hidden_field :user_id, value: current_user.id %>
	          <br>
	          <%= f.text_area :content, class: "form-control" %>
	          <br/>
	          <%= f.submit "create", class: "btn btn-primary" %>
	        <% end %>
	      <div id="new-comment"></div>
	    <% end %>
	  <% end %>
	  <% if can? :read, Comment %>
	    <div id="show-comment">
	      <%= render @comments %>
	      <%= paginate @comments %>
	    </div>
	  <% end %>
      </div>
</div>
